html, body, #root {
  background-color: transparent !important;
}

// RESPONSIVELY RENDER COMPONENTS BASED ON SCREEN SIZE
@media (max-width: 768px) {
  .mobile-layout {display: block;}
  .desktop-layout {display: none;}
}

@media (min-width: 769px) {
  .mobile-layout {display: none;}
  .desktop-layout {display: block;}
}

/* Main Container */
.container-fluid {
  background-color: transparent !important;
  margin: 0;
  overflow-x: hidden;
}

// TOGGLE BUTTON GROUP
.btn-group {
  position: relative;
  width: 100%;
  border: 1px solid #ffcd00;
  margin-bottom: 1rem;

  .btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent !important;
    color: #ffcd00 !important;
    transition: color 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #ffcd00;
      z-index: -1;
      transform: scaleX(0);
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:nth-child(2)::before {
      transform-origin: right !important;
    }
    &:last-child::before {
      transform-origin: left;
    } 

    

    &.btn-primary {
      color: #000 !important;
      border: none !important;
      font-weight: bold;

      &::before {
        transform: scaleX(1);
      }
    }
    
    &.btn-outline-primary {
      color: #ffcd00 !important;

      &::before {
        transform: scaleX(0);
      }
    }
  }

  label {
    font-weight: bold;
    border: none !important;
  }
}


// LEAGUES
div:has(> div.m-league-container) {
  border-radius: 5px;
  border: 2px solid #fff;
  overflow: hidden;
}

.m-league-container {
  padding: 0.5rem;

  .m-league-accordion-header {
    border: 3px solid #ffcd00;
  }

  tr.m-league-table-headers {
    background-color: #fff !important;
   

    td {
      color:#000;
      font-weight: 900;
      background-color: #fff !important;
      box-shadow: none !important;
      vertical-align: middle !important;
    }
    
  }

  .accordion {
    border-radius: 50px !important;
  }

  .accordion-body {
    padding: 0;
    margin: 0;
    background-color: #000;

    .nav-item {
      a {
        border-radius: 0 !important;
        color: #fff;
        font-weight: 500;
      }

      .active {
        color: #000;
        background-color: #ffcd00;
      }
      
    }
  }

  .accordion-button {
    display: flex;
    flex-direction: column;
    background-color: #000;
    border: none;
    color: #fff;
    width: 100%;
    padding: 0;

    &::after {
      display: none !important;
    }

    h1 {
      font-weight: 700;
      margin: 0.5rem;
    }
  }

  .m-league-prelim-standings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
      
      span {
        margin: 0.5rem;

        svg {
          margin: 0rem 1rem;
          transform: scale(1.5);
        }
      }
    }

    td.m-league-roster-team-name {
      vertical-align: middle !important;
    }

    .m-league-schedule-table {

      tbody {
        text-align: center;
      }
    }

}